:root{
  /* 브랜드 컬러 */
  --backgound-color-1fa: #1FAA9C;

  --border-color-1fa: #1FAA9C;

  --font-color-1fa: #1FAA9C;
  
  --background-color-f5: #f5f5f5;
  --background-color-ff: #fff;

  --border-color-da: #dadada;
  --border-color-c6: #c6c6c6;

  --font-color-88: #888;

  --font-size-xx-small : 14px;
  --font-size-small : 16px;
  --font-size-medium: 18px;
  --font-size-large: 30px;
  --font-size-xx-large: 40px;
}

button.brand_fill {
  background: var(--backgound-color-1fa);
  border: 1px solid var(--backgound-color-1fa);
  color: var(--background-color-ff);
}

button.brand {
  color: var(--backgound-color-1fa);
  border: 1px solid var(--backgound-color-1fa);
  background: var(--background-color-ff);
}

button.red {
  color: #F43E25;
  border: 1px solid #F43E25;
  background: var(--background-color-ff);
}

.input_box {
  border: 1px solid var(--border-color-da);
  padding: 12px;
  border-radius: 6px;
}

.ellipsis {
  white-space: nowrap; /* 텍스트가 한 줄로 표시되도록 설정합니다. */
  overflow: hidden; /* 넘친 텍스트는 숨깁니다. */
  text-overflow: ellipsis; /* 넘친 텍스트는 "..."으로 표시됩니다. */
}

/* 스크롤바 숨기기 스타일 정의 */
.scrollbar_hidden::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.scrollbar_hidden::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollbar_hidden::-webkit-scrollbar-thumb {
  background-color: transparent;
}


/* ############################## */
/* ######### 버튼 ############### */
.custom_btns {
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.custom_btns button {
  padding: 8px 20px;
  border: 1px solid #1FAA9C;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  color: #1FAA9C;
}
.custom_btns button.active {
  background: #1FAA9C;
  color: #fff;
}
.custom_btn {
  padding: 8px 20px;
  border: 1px solid #1FAA9C;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  color: #1FAA9C;
}
.custom_btn.active {
  background: #1FAA9C;
  color: #fff;
}
/* ######### 버튼 ############### */
/* ############################## */

/* ############################## */
/* ######### 모달 ############### */
.modal {
  position: fixed;
  z-index: 2;
  align-items: center;
  justify-content: center;
  display: flex;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal .modal_content{
  max-width: 420px;
  max-height: 555px;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  background: #FFF;
  color: #000;
}
.modal .modal_content .modal_top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}
.modal .modal_content .modal_top i{
  font-size: 25px;
}
.modal .modal_content .modal_middle {
  margin-bottom: 30px;
  text-align: start;
  font-size: 14px;
  font-weight: 400;
}
.modal .modal_content .modal_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal .modal_content .modal_bottom .buttons{
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
}
.modal .modal_content .modal_bottom .buttons button{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 50px;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
}


.modal.category .modal_middle {
  margin-bottom: 30px;
}
.modal.category .modal_middle > div {
  margin-bottom: 10px;
}
.modal.category .modal_middle > div h3{
  margin-bottom: 15px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
.modal.category .modal_middle > div ul {
  display: flex;
  flex-flow: column;
  gap: 15px;
  max-height: 210px;
  overflow: scroll;
}
.modal.category .modal_middle > div ul li {
  display: flex;
  gap: 10px;
  align-items: center;
}
.modal.category .modal_middle > div ul li .move{
  font-size: 16px;
  color: #D9D9D9;
}
.modal.category .modal_middle > div ul li .input_box{
  position: relative;
  flex: 1;
  border: none;
  padding: 0;
  border-radius: 0;
}
.modal.category .modal_middle > div ul li .input_box input{
  border: 1px solid var(--border-color-da);
  padding: 12px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 500;
}
.modal.category .modal_middle > div ul li .input_box i{
  position: absolute;
  top: 50%;
  right: 12px;
  font-size: 20px;
  color: #CCCCCC;
  transform: translate(0, -50%);
}
.modal.category .modal_middle > div ul li .delete{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #F43E25;
  color: #F43E25;
}
.modal.category .modal_middle > button {
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.modal.category .modal_middle > button i{
  font-size: 18px;
  color: #999999;
}
.modal.category .modal_middle > button span{
  font-size: 16px;
  font-weight: 700;
}

.modal.success {}
.modal .modal_content .modal_top{
  display: none;
}
.modal.success .modal_content .modal_middle{
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}
.modal.success .modal_content .modal_middle i{
  color: #1FAA9C;
  font-size: 35px;
}

/* .modal {
  position: fixed;
  z-index: 2;
  align-items: center;
  justify-content: center;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.4);
} */
.modal.show {
  display: flex;
}
.modal-content {
  position: relative;
  display: flex;
  flex-flow: column;
  gap: 30px;
  max-width: 400px;
  max-height: 555px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
  background: var(--background-color-ff);
  color: #000;
  line-height: 1.5;
  
}

.modal-content h1 {
  font-size: 20px;
  font-weight: 700;
}

.modal-content .modal-top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-content .modal-top i {
  font-size: 24px;
}
.modal-content .modal-body {
  max-height: 450px;
  color: #000;
  font-size: 14px;
  font-weight: 600;
}
.modal-content .modal-body .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.modal-content .modal-body .grid i {
  font-size: 24px;
}
.modal-content .modal-body .grid button{
  display: flex;
  height: 50px;
  padding: 12px;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
  border: 1px solid #CCC;
}
/* ######### 모달 ############### */
/* ############################## */

/* ############################## */
/* ######### 드랍다운 ########### */
.dropdown-list {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  visibility: hidden;
  max-height: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all .25s;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
  transition: all .4s;
}
.dropdown-list.active {
  visibility: visible;
  max-height: 250px;
  height: initial;
  overflow: scroll;
  opacity: 1;
}
/* ######### 드랍다운 ########### */
/* ############################## */

/* ############################## */
/* ######### 해더 영역 ########## */

header {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  background: #333;
  color: #fff;
}
header .center{
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 10px 15px 10px 0px;
}
header .center img {
  height: 20px
}
header .back_btn,
header .home_btn {
  position: relative;
  font-size: 15px;
  padding: 12.5px 15px;
}
header .home_btn:focus-visible{
  outline: auto;
}
header .center .header_info{
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
header .center .header_info .store_state {
  display: flex;
  align-items: center;
  
}
header .center .header_info .store_state::before{
  content: '';
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 50%;
}
header .center .header_info .store_state[data-state="open"]::before{
  background: #1FAA9C;
}

/* ######### 해더 영역 ########## */
/* ############################## */

/* ############################## */
/* ######### 메인 영역 ########## */
main section {
  position: relative;
  overflow: hidden;
}
/* main section nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
  background: #fff;
  border-bottom: 1px solid #CCCCCC;
} */
main section article {
  position: relative;
  height: calc(100vh - (40px + 50px));
  padding: 20px;
  background: #ddd;
  overflow: hidden;
  transition: .25s;
}

/* main section nav ul li[data-state="active"] button {
  background: #1FAA9C;
  color: #fff;
} */
/* main section nav ul li button {
  padding: 8px 20px;
  border: 1px solid #1FAA9C;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  color: #1FAA9C;
} */

main section article .items{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  grid-auto-rows: minmax(0, 1fr);
  max-height: 100%;
}
main section article .item{
  position: relative;
  display: flex;
  flex-flow: column;
  gap: 15px;
  width: 100%;
  padding: 20px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  text-align: start;
  overflow: hidden;
  z-index: 2;
  transition: all .25s;
}
main section article .change_page_btn {
  position: absolute;
  top: 50%;
  z-index: 2;
  align-items: center;
  justify-content:center;
  display: none;
  width: 35px;
  height: 35px;
  padding: 10px 12px;
  border-radius: 50px;
  background: #FFF;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  font-size: 15px;
  color: #1FAA9C;
  transform: translateY(-50%);
  transition: all .25s;
}
main section article .change_page_btn:hover{
  background: #1FAA9C;
  color: #fff;
}
main section article.hasPrevPage .prev_page_btn,
main section article.hasNextPage .next_page_btn {
  display: flex;
}
main section article .change_page_btn.prev_page_btn {
  left: 10px;
}
main section article .change_page_btn.next_page_btn {
  right: 10px;
}
/* ######### 메인 영역 ########## */
/* ############################## */
