body {
  display: flex;
  flex-flow: column;
  gap: 40px;
  padding: 40px;
}
header{
  background: #fff;
}
header img {
  height:40px
}
main {
  flex: 1;
}
main ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
  height:100%;
}
main ul li a {
  position: relative;
  display:flex;
  flex-flow: column;
  align-items: center;
  justify-content:center;
  width: 100%;
  height: 100%;
  background: #ddd;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 800;
}
main ul li a p{
  position: absolute;
  top: 110px;
  font-size: 14px;
  font-weight: 400;
}