.store_product main {
  display: flex;
  height: calc(100vh - 40px);
  background: #F5F5F5;
}
.store_product main nav{
  width: 250px;
  background: #FFF;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}
.store_product main nav ul{
  color: #000;
  font-size: 18px;
  font-weight: 700;
}
.store_product main nav ul li{
  padding: 20px;
  line-height: 1;
}
.store_product main nav ul li.active{
  background: #F3FAFA;
  color: #1FAA9C;
}
.store_product section {
  flex: 1;
  height: initial;
  padding: 0 20px;
  background: none;
  border-bottom: none;
}
.store_product section ul {
  flex-flow: column;
  align-items: start;
  height: initial;
  gap: 0;
}

.store_product section ul li{
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 20px 0;
}

.store_product section ul li h2 {
  width: 150px;
  font-size: 16px;
  font-weight: 700;
}
.store_product section ul li a {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #CCC;
  background: #FFF;
  font-size: 14px;
  font-weight: 600;
}
.store_product section ul li a.disabled {
  visibility: hidden;
  opacity: 0;
}
.store_product section ul li a i {
  font-size: 24px;
}
main {
  display: flex;
  height: calc(100vh - 40px - 60px);
  background: #F5F5F5;
}
section {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  background: #FFF;
  border-bottom: 1px solid #CCC;
  
}

section ul{
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
}
section ul li{
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}
section ul li.right {
  gap: 20px;
  flex: 2;
  width: 100%;
}
section ul li.right > div{
  display: flex;
  align-items: center;
  flex: 1;
  gap: 10px;
  width: 100%;
}

section ul li.right > div button{
  flex: 1;
}
section ul li.right > div .search_box{
  flex: 2.7;
}
section ul li h2{
  font-size: 14px;
  font-weight: 700;
}
section ul li > button {
  height:37px;
}
section ul li .dropdown-box {
  position: relative;
  flex: 1;
}
section ul li .dropdown-box .dropdown-list {
  top: 110%;
  display: flex;
  flex-flow: column;
  gap: initial;
  height: initial;
  font-size: 14px;
  border: 1px solid var(--border-color-da);
  border-radius: 6px;
  transition: all .4s;
}
section ul li .dropdown-box .dropdown-list li {
  width: 100%;
  max-height: 37px;
  padding: 12px;
}
section ul li .input_box {
  display: flex;    
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex: 1;
  width: 100%;
  padding: 12px;

}
section ul li .submit_btn {
  width: 60px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #1FAA9C;
  color: #1FAA9C;
  font-size: 14px;
  font-weight: 700;
}

/*************************/
/* 매장 메뉴 관리 페이지 */

.set_menu_product section ul li button,
.set_menu_product section ul li input{
  gap: 10px;
  height: 37px;
  font-size: 14px;
}
.set_menu_product main {
  gap: 20px;
  padding: 20px;
  justify-content: space-between;
}
.set_menu_product main.open_aside{
  
}
.set_menu_product main > * {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #CCC;
  background: #FFF;
  transition: all .4s;
}

.set_menu_product main article {
  display: flex;
  flex-flow: column;
  gap: 15px;
  flex: 1;
  width: 100%;
}
.set_menu_product main article .article_top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.set_menu_product main article .article_top .buttons{
  display: flex;
  align-items: center;
  gap: 10px;
}
.set_menu_product main article .article_top .buttons button{
  padding: 8px 15px;
  border-radius: 5px;
  border: 1px solid #111;
  background: #FFF;
  font-size: 14px;
  font-weight: 700;
}
.set_menu_product main article .article_top .buttons button.delete_btn {
  border: 1px solid #F43E25;
  color: #F43E25;
}
.set_menu_product main article .article_top .buttons button.add_btn {
  border: 1px solid #1FAA9C;
  color: #1FAA9C;
}
.set_menu_product main article .article_bottom {
  position: relative;
  flex: 1;
  height: 100%;
  border: 1px solid #CCC;
  border-radius: 5px;
  font-size: 14px;
  overflow: hidden;
  overflow-x: auto;
}
.set_menu_product main article .article_bottom ul {
  position: relative;
  min-width: 630px;
  height: 100%;
  text-align: center;
  overflow: auto;
}
.set_menu_product main article .article_bottom ul li{
  display: flex;
  flex: 1;
  border-bottom: 1px solid #ccc;
}
.set_menu_product main article .article_bottom ul li.active{
  background: #F3FAFA; 
}
.set_menu_product main article .article_bottom ul li:first-child{
  position: sticky;
  top: 0;
  left: 0;
  background: #F5F5F5;
  border-bottom: 1px solid #000;
  font-weight: 700;
}
.set_menu_product main article .article_bottom ul li:first-child div{
  justify-content: center;
}
.set_menu_product main article .article_bottom ul li:last-child{
  border-bottom: none;
  box-shadow: 0 0px 0 1px #ccc;
}
.set_menu_product main article .article_bottom ul li > div{
  min-height: 34px;
}
.set_menu_product main article .article_bottom ul li div{
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: left;
}
.custom-checkbox{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none; /* 텍스트 선택 방지 */
}

.custom-checkbox input[type="checkbox"] {
  visibility: hidden;
}
.custom-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 13.5px;
  width: 13.5px;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: rgba(0,0,0,0); /* 체크박스 배경색 */
}

/* 체크박스에 체크했을 때의 스타일 */
.custom-checkbox input:checked ~ .checkmark {
  background-color: #1FAA9C; /* 체크했을 때의 배경색 */
  border: 1px solid #1FAA9C;
}

/* 체크 표시 스타일 */
.custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* 체크했을 때 체크 표시 보이기 */
.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* 체크 표시 디자인 */
.custom-checkbox .checkmark:after {
  left: 4px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.set_menu_product main article .article_bottom ul li div:not(:first-child){
  border-left: 1px solid #ccc;
}

.set_menu_product main article .article_bottom ul li div:nth-child(2){
  flex: .5;
}
.set_menu_product main article .article_bottom ul li div:nth-child(3){
  flex: .5;
}
.set_menu_product main article .article_bottom ul li div:nth-child(4){
  flex: .7;
}
.set_menu_product main article .article_bottom ul li:not(:first-child) div:nth-child(4){
  display: flex;
  align-items: center;
  gap: 5px;
  text-align: start;
}
.set_menu_product main article .article_bottom ul li:not(:first-child) div:nth-child(4) .is_soldout{
  width: 8px;
  height: 8px;
  padding: 0;
  border-radius: 50%;
  background: #07E044;
}
.set_menu_product main article .article_bottom ul li:not(:first-child) div:nth-child(4) .is_soldout.true{
  background: #F43E25;
}
.set_menu_product main article .article_bottom ul li div:nth-child(5){
  text-align: start;
  flex: 1;
}
.set_menu_product main article .article_bottom ul li div:nth-child(6){
  flex: .3;
}
.set_menu_product main article .article_bottom ul li:not(:first-child) div:nth-child(6){
  justify-content: right;
}

.set_menu_product main aside {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  gap: 20px;

  width: 300px;
  
}
.set_menu_product main aside .responsive_btn{
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  align-items: center;
  flex-flow: column;
  gap: 20px;
  padding: 20px 0px;
  border-radius: 10px 0px 0px 10px;
  background: #DDD;
  color: #999;
  font-size: 14px;
  transform: translate(-100%, -50%);
}

.set_menu_product main aside .top {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  color: #ccc;
  transition: all .4s;
}
.set_menu_product main aside .top .main_img{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: 1px dashed #CCC;
  visibility: visible;
  opacity: 1;
  overflow: hidden;
  transition: all .4s;
}

.set_menu_product main aside .top .main_img label{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 30px;
}
.set_menu_product main aside .top .main_img img{
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.set_menu_product main aside .top .main_img .delete_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background: #fff;
  color: red;
}
.set_menu_product main aside .top .main_img.active img{
  display: block;
}
.set_menu_product main aside .top .main_img.active .delete_btn{
  display: flex;  
}
.set_menu_product main aside .top .imgs {
  display: flex;
  flex-flow: column;
  justify-content:space-between;
  gap: 10px;
  max-height: 200px;
  overflow: hidden;
  transition: all .4s;
}
.set_menu_product main aside .top .imgs > .img_box {
  position: relative;
  border-radius: 5px;
  border: 1px dashed #CCC;
  overflow: hidden;
}
.set_menu_product main aside .top .imgs > .img_box label {
  display: flex;
  align-items: center;
  justify-content:center;
  width: 40px;
  height: 40px;
  padding: 12px;
  transition: all .4s;
}
.set_menu_product main aside .top .imgs > .img_box img {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.set_menu_product main aside .top .imgs > .img_box.active img {
  display: block;
}
.set_menu_product main aside .middle {
  display: flex;
  flex-flow: column;
  gap: 15px;
  height: calc(100% - 200px - 40px - 46px);
  overflow: scroll;
  transition: all .4s;
}
.set_menu_product main aside .middle > div {
  display: flex;
  flex-flow: column;
  gap: 15px;
}
.set_menu_product main aside .middle label {
  position: relative;
  display: flex;
  flex-flow: column;
  gap: 10px;
  transition: all .4s;
}
.set_menu_product main aside .middle label .is_soldout {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  color: #666;
}
.set_menu_product main aside .middle label .is_soldout button{
  width: 40px;
  height: 20px;
  padding: 2px;
  border-radius: 10px;
  background: #07E044;
  transition: all .25s;
}
.set_menu_product main aside .middle label .is_soldout button[data-soldout="true"]{
  background: #F43E25;
}
.set_menu_product main aside .middle label .is_soldout button .ball{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  transition: all .25s;
}
.set_menu_product main aside .middle label .is_soldout button[data-soldout="true"] .ball {
  transform: translateX(20px);
}
.set_menu_product main aside .middle label .is_soldout input[type="checkbox"] {
  display: none;
}
.set_menu_product main aside .middle label .flex_box{
  display: flex;
  /* flex-flow: column; */
  gap: 10px;
}
.set_menu_product main aside .middle label .flex_box .dropdown-box{
  flex: 1;
  position: relative;
}
.set_menu_product main aside .middle label .flex_box .dropdown-box .btn-dropdown{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  gap: 10px;
  width: 100%;
  border: 1px solid #ccc;
}
.set_menu_product main aside .middle label .flex_box .dropdown-box .dropdown-list {
  top: 110%;
}
.set_menu_product main aside .middle label .flex_box .dropdown-box .dropdown-list li{
  padding: 12px;
}
.set_menu_product main aside .middle label .flex_box .delete_btn{
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #F43E25;
  color:#F43E25;;
}
.set_menu_product main aside .middle label .flex_box .drag_btn {
  height: 100%;
  display: flex;
  align-items: center;
  color: #CCC;
}
.set_menu_product main aside .middle label .add_option_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 12px;
}
.set_menu_product main aside .middle label .add_option_btn span{
  color: #000;
  font-size: 14px;
  font-weight: 700;
}
.set_menu_product main aside .middle label > span{
  width: 100px;
  font-size: 16px;
  font-weight: 700;
}
.set_menu_product main aside .middle label input,
.set_menu_product main aside .middle label textarea,
.set_menu_product main aside .middle label select {
  padding: 10px 12px;
  border-radius: 5px;
  border: 1px solid #CCC;
  flex: 1;
  transition: all .4s;
}
.set_menu_product main aside .middle label input{
  flex: 1;
  width: 100%;
  height:40px;
  transition: all .4s;
}
.set_menu_product main aside .middle label .menu_options {
  display: flex;
  flex-flow: column;
  gap: 10px;
}
.set_menu_product main aside .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.set_menu_product main aside .bottom button{
  flex: 1;
  padding: 12px 10px;
  border-radius: 5px;
  font-weight: 700;
}
.set_menu_product main aside .bottom button.delete{
  border: 1px solid #F43E25;
  color: #F43E25;
}
.set_menu_product main aside .bottom button.save{
  background: #1FAA9C;
  color: #fff;
}
.set_menu_product main.open_aside article {
  flex: initial;
  width: 320px;
}
.set_menu_product main.open_aside aside {
  max-width: initial; 
  min-width: 300px;
  flex: 1;
}
.set_menu_product main aside .ph-caret-left{
  display: block;
}
.set_menu_product main aside .ph-caret-right{
  display: none;
}
.set_menu_product main.open_aside aside .ph-caret-left{
  display: none;
}
.set_menu_product main.open_aside aside .ph-caret-right{
  display: block;
}
.set_menu_product main.open_aside aside .top {
  justify-content: start;
  gap: 0;
  margin-right: -20px;
  overflow-x: scroll;
}
.set_menu_product main.open_aside aside .top .main_img {
  width: 0;
  border: none;
  visibility: hidden;
  opacity: 0;
}
.set_menu_product main.open_aside aside .top .imgs {
  flex-flow: row;    
  padding-right: 20px;
  gap: 15px;
}
.set_menu_product main.open_aside aside .top .imgs label{
  width: 200px;
  height: 200px;
  padding: 0;
  font-size: 30px;
}
.set_menu_product main.open_aside aside .middle {
  flex-flow: initial;
  gap: 20px;
}
.set_menu_product main.open_aside aside .middle > div {
  display: flex;
  flex-flow: column;
  gap: 15px;
  flex: 1;
}
.set_menu_product main.open_aside aside .middle label{
}
.set_menu_product main.open_aside aside .middle label input,
.set_menu_product main.open_aside aside .middle label textarea,
.set_menu_product main.open_aside aside .middle label select{
  flex: 1;
}
.set_menu_product main.open_aside aside .middle label .flex_box {
  flex-flow: initial;
}
.set_menu_product main.open_aside aside .middle label .flex_box .dropdown-box .btn-dropdown {
  gap: initial;
}


/* 매장 메뉴 관리 페이지 */
/*************************/


/***************************/
/* 매장 테이블 관리 페이지 */
.set_table_position main {
  display: initial;
  height: auto;
  background: initial;
}
.set_table_position main section{
  position: initial;
  overflow: initial;
}

.set_table_position section{
  width: auto;
  height: auto;
  padding: initial;
  background: initial;
  border-bottom: initial;

}
.set_table_position main section nav {
  display: flex;
  padding: 0px 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #CCC;
  background: #FFF;
}
.set_table_position main section nav ul{
  display: flex;
  align-items: flex-start;
  gap: 15px;
}
.set_table_position main section nav ul li button{
  padding: 16px 2px;
  height: 50px;
  color: #CCC;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.3px;
}
.set_table_position main section nav ul li[data-state="active"] button{
  color: var(--main, #1FAA9C);
  border-bottom: 2px solid var(--main, #1FAA9C);
  margin-bottom: -1px;
}
.set_table_position main section nav .btn_set {
  color: #CCC;
  font-size: 20px;
}

.set_table_position main section article{
  background: rgba(0, 0, 0, 0.50);
}
.set_table_position main section article .items{
  height: 100%;
}
.set_table_position main section article .item{
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-flow: initial;
  padding: 20px;
  border-radius: 10px;
  border: 1px dashed #CCC;
  background: none;
}
.set_table_position main section article .item h2{
  color: #000;
  font-size: 16px;
  font-weight: 700;
}
.set_table_position main section article .item input {
  display: none;
}
.set_table_position main section article .item[data-has="true"]{
  border: 1px solid #CCC;
  background: #FFF;
}
.set_table_position main section article .item .active {
  display: none;
}
.set_table_position main section article .item[data-active="true"]{
  border: 1px dashed #1FAA9C;
}
.set_table_position main section article .item[data-active="true"] .active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1FAA9C33;
  display: block;
}
.set_table_position main section article .item[data-active="true"] .active i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #1FAA9C;
}
.set_table_position main section article .item .icons {
  display: flex;
  gap: 10px;
  align-items: center;
}
.set_table_position main section article .item .ph-trash{
  color: #F43E25;
}
.set_table_position main section article .item .ph-pencil{
  color: #ccc;
}
.set_table_position main section article .item .ph-plus {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 25px;
  color: #ccc;
  transform: translate(-50%,-50%);
}
/* 매장 테이블 관리 페이지 */
/***************************/


