<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>OrderAndGo</title>
  <link rel="icon" type="image/x-icon" href="/static/images/common/logo.png">

  <!-- 시작 초기 css 설정 -->
  <link rel="stylesheet" href="/static/css/responsive.css">
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/animation.css">
  <!-- 아이콘 -->
  <script src="https://unpkg.com/@phosphor-icons/web"></script>

  <!-- 전용 css -->
  <link rel="stylesheet" href="/static/css/pos.css">
</head>
<body class="payment">
  <div id="container" class="order">
    <header>
      <!-- <h1>POS - Header</h1>-->
      <a class="back_btn" data-href="/pos/menuList/" onclick="historyBack(event)">
        <i class="ph-bold ph-caret-left"></i>
      </a>
      <div class="center">
        <a onclick="location.reload();">
          <h1>
            <img src="/static/images/common/logo-order&go-white.png" alt="">
          </h1>
        </a>
        <div class="header_info">
          <span class="cur_time">2023-05-01(월) 14:00</span>
          <span class="store_state" data-state="open">영업중</span>
        </div>
      </div>
    </header>
    <main>
      <!-- 메뉴판 페이지에서 장바구니 영역 -->
      <aside class="basket_container">
        <!-- <h1>POS - aside</h1> -->
        <ul class="basket middle">

        </ul>
        <div class="order_btns bottom">
          <div class="top">
            <div>
              <span>공급가액</span>
              <span class="supply_price">원</span>
            </div>
            <div>
              <span>부가세</span>
              <span class="vat">원</span>
            </div>
            <div>
              <span>할인</span>
              <span class="discount">원</span>
            </div> 
          </div>

          <div class="bottom">
            <div>
              <span>총액</span>
              <span class="price">원</span>
            </div>
          </div>
        </div>
      </aside>
      <section>
        <!-- <h1>POS - section</h1> -->
        <article>
          <div class="top">
            <div class="total_price">
              <h2>결제 금액</h2>
              <div class="cur_price">
                <span class="price">94,000원</span>
                <div class="dutch"></div>
              </div>
              <div class="paid">
                <span class="remaining"></span>
                <span class="received"></span>
              </div>
            </div>
            <div class="other_btns">
              <button class="addtion_btn" onclick="clickAdditionPrice(event)">추가 금액</button>
              <button class="discount_btn" onclick="clickDiscount(event)">할인</button>
              <button onclick="clickSplitPayment(event)">분할 결제</button>
            </div>
          </div>
          <div class="payment_btns">
            <button onclick="clickCashPayment(event)" class="cash_btn">현금 결제</button>
            <button onclick="clickCardPayment(event)" class="card_btn">카드 결제</button>
          </div>
        </article>
      </section>
      
    </main>
  </div>
  
  <!-- 직원 요청 및 호출에 대한 처리 영역 -->
  <div id="alarm"></div>

  <!-- 공통 스크립트 -->
  <script src="/static/js/common.js"></script>
  <!-- 전용 스크립트 -->
  <script src="/static/js/payment.js"></script>
</body>
</html>