<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>OrderAndGo</title>
  <link rel="icon" type="image/x-icon" href="/static/images/common/logo.png">

  <!-- 시작 초기 css 설정 -->
  <link rel="stylesheet" href="/static/css/responsive.css">
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/animation.css">
  <!-- 아이콘 -->
  <script src="https://unpkg.com/@phosphor-icons/web"></script>

  <!-- 전용 css -->
  <link rel="stylesheet" href="/static/css/pos.css">

  <!-- socket.io -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

</head>
<body>
  <div id="container">
    <header>
      <!-- <h1>POS - Header</h1>-->
      <a class="back_btn" href="/">
        <i class="ph-bold ph-caret-left"></i>
      </a>
      <div class="center">
        <a onclick="location.reload();">
          <h1>
            <img src="/static/images/common/logo-order&go-white.png" alt="">
          </h1>
        </a>
        <div class="header_info">
          <span class="cur_time">2023-05-01(월) 14:00</span>
          <span class="store_state" data-state="open">영업 중</span>
        </div>
      </div>
    </header>
    <main>
      <section>
        <!-- <h1>POS - section</h1> -->
        <nav>
          <!-- <h1>POS - Nav</h1> -->
          <ul>
            <li data-state="active">
              <button>1층</button>
            </li>
          </ul>
          <button class="btn_set" onclick="clickSetBtn(event)">
            <i class="ph ph-gear-six"></i>
          </button>
        </nav>

        <article>
          <div class="tables items">
            <!-- <h1>POS - article</h1> -->
            <!-- 
            <button class="table item" data-state="isServed" data-call="call">
              <div class="title">
                <h2>테이블 1 <i class="ph-fill ph-bell-ringing"></i></h2>
                
                <div class="table_state">완료</div>
              </div>
              <div class="body">
                <i class="ph-bold ph-plus"></i>
                <ul>
                  <li>
                    <span>메뉴명</span>
                    <span>1</span>
                  </li>
                  <li>
                    <span>메뉴명</span>
                    <span>1</span>
                  </li>
                  <li>
                    <span>메뉴명</span>
                    <span>1</span>
                  </li>
                  <li>
                    <span>외2</span>
                  </li>
                </ul>
              </div>
            </button>
            <button class="table item" data-id="" data-state="" onclick="">
              <div class="body">
                <ul></ul>
              </div>
            </button>
            -->
          </div>
        </article>
        <!-- 메뉴판 페이지에서 메뉴 옵션 선택 영역 -->
        <aside></aside>
      </section>
      <!-- 메뉴판 페이지에서 장바구니 영역 -->
      <aside style="display:none">
        <h1>POS - aside</h1>
      </aside>
    </main>
  </div>
  
  <!-- 직원 요청 및 호출에 대한 처리 영역 -->
  <div id="alarm"></div>

  <!-- 공통 스크립트 -->
  <script src="/static/js/common.js"></script>
  <!-- 전용 스크립트 -->
  <script src="/static/js/tableList.js"></script>
</body>
</html>