<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OrderAndGo</title>
  <link rel="icon" type="image/x-icon" href="/static/images/common/logo.png">

  <!-- 시작 초기 css 설정 -->
  <link rel="stylesheet" href="static/css/responsive.css">
  <link rel="stylesheet" href="static/css/reset.css">
  <link rel="stylesheet" href="static/css/common.css">
  <!-- 아이콘 -->
  <script src="https://unpkg.com/@phosphor-icons/web"></script>

  <!-- 전용 css -->
  <!-- <link rel="stylesheet" href="static/css/main.css"> -->
</head>
<body>
  <!-- 공통 스크립트 -->
  <!-- <script src="static/js/common.js"></script> -->
  <!-- 전용 스크립트 -->
  <!-- <script src="static/js/main.js"></script> -->
</body>
</html>