<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>OrderAndGo</title>
  <link rel="icon" type="image/x-icon" href="/static/images/common/logo.png">

  <!-- 시작 초기 css 설정 -->
  <link rel="stylesheet" href="static/css/responsive.css">
  <link rel="stylesheet" href="static/css/reset.css">
  <link rel="stylesheet" href="static/css/common.css">
  <!-- 아이콘 -->
  <script src="https://unpkg.com/@phosphor-icons/web"></script>

  <!-- 전용 css -->
  <link rel="stylesheet" href="static/css/index.css">


  <style>
  </style>
</head>
<body>
  <header>
    <a onclick="location.reload();">
      <h1>
        <img src="/static/images/common/logo-order&go-color.png" alt="">
      </h1>
    </a>
    <a onclick="clickLogout(event)">로그아웃</a>
  </header>
  <main>
    <ul>
      <li><a href="/pos/tableList">POS</a></li>
      <li><a href="/table_order/login">테이블 오더</a></li>
      <li><a href="#">주방 주문 관리</a></li>
      <li><a href="/store/product">매장 관리</a></li>
    </ul>
  </main>
  <!-- 공통 스크립트 -->
  <!-- <script src="static/js/common.js"></script> -->
  <!-- 전용 스크립트 -->
  <!-- <script src="static/js/main.js"></script> -->
  <script>
    const clickLogout = (event) => {
      console.log('로그아웃 클릭함')
      fetch(`/logout`, {
        method: 'GET',
      })
      .then(response => response.json())
      .then(data => {
        if(data.code == 200){
          window.location.href = '/login'
        }
      })
      .catch(error => {
        console.error('Error:', error);
      });
    }
  </script>
</body>
</html>