<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>orderandgo</title>
  <link rel="icon" type="image/x-icon" href="/static/images/common/logo.png">

  <!-- 시작 초기 css 설정 -->
  <link rel="stylesheet" href="/static/css/responsive.css">
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/animation.css">
  <!-- 아이콘 -->
  <script src="https://unpkg.com/@phosphor-icons/web"></script>

  <!-- 전용 css -->
  <link rel="stylesheet" href="/static/css/login.css">
  {% if json_data %}
  <script>
    const jsonData = JSON.parse(`{{ json_data | tojson | safe }}`);
    console.log(jsonData);
  </script>
  {% endif %}
</head>
<body class="login">
  <div id="app">

    <main>
      <h1>
        <a href="">
          <img src="/static/images/common/logo-order&go-color.png" alt="">
        </a>
      </h1>
      <form class="store" onsubmit="onSubmitLogin(event)">
        <div class="buttons">
          <button class="store_btn" onclick="clickAsStoreLogin(event)">매장 로그인</button>
          <button class="admin_btn" onclick="clickAsAdminLogin(event)">관리자 로그인</button>
        </div>
        
        <div class="tel_box">
          <input type='tel' data-index="0" name='phone1' maxlength="3" oninput="changeInputTel(event)" value="010"/>
          <span>-</span>
          <input type='tel' data-index="1" name='phone2' maxlength="4" oninput="changeInputTel(event)" value="2085"/>
          <span>-</span>
          <input type='tel' data-index="2" name='phone3' maxlength="4" oninput="changeInputTel(event)" value="2374"/>
        </div>
        <!-- 관리자 로그인 세션이 없을 경우 -->
        <input id="store_id" type="text" value="testtest">
        <!-- 관리자 로그인 세션이 있을 경우 -->
        <select name="" id="">
          <option value="id">오더앤맥</option>
        </select>
        <input type="password" id="password" name="password" placeholder="비밀번호를 입력해주세요" value="test!@34" required>
        <!-- <div class="input_save_id">
          <input type="checkbox" hidden id="save_id">
          <label for="save_id">
            <i class="ph ph-check-circle"></i>
            <span>아이디 저장</span>
          </label>
        </div> -->
        <input type="submit" value="로그인">
        <div class="buttons another">
          <a href="/register_admin">회원가입</a>
          <a href="/find_password">비밀번호 찾기</a>
        </div>
        <div class="create_store"><a href="/store/create">매장 생성</a></div>
      </form>
      
    </main>
    <aside>
      
    </aside>
  </div>
  
  <script src="static/js/login.js"></script>
</body>
</html>