<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>orderandgo</title>
  <link rel="icon" type="image/x-icon" href="/static/images/common/logo.png">

  <!-- 시작 초기 css 설정 -->
  <link rel="stylesheet" href="/static/css/responsive.css">
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/animation.css">
  <!-- 아이콘 -->
  <script src="https://unpkg.com/@phosphor-icons/web"></script>

  <!-- 전용 css -->
  <link rel="stylesheet" href="/static/css/login.css">
</head>
<body class="register">
  <div id="app">

    <main>
      <h1><a href="/"><img src="/static/images/common/logo-order&go-color.png" alt=""></a></h1>
      <h1>회원가입</h1>
      <form onsubmit="onSubmitRegister(event)">
        <label for="">핸드폰번호</label>
        <div class="tel_box">
          <input type='tel' data-index="0" name='phone1' maxlength="3" oninput="changeInputTel(event)" placeholder="010" required/>
          <span>-</span>
          <input type='tel' data-index="1" name='phone2' maxlength="4" oninput="changeInputTel(event)" placeholder="0000" required/>
          <span>-</span>
          <input type='tel' data-index="2" name='phone3' maxlength="4" oninput="changeInputTel(event)" placeholder="0000" required/>
        </div>
        <label for="">문자인증</label>
        <div class="code_row">
          <input id="code_number" type="text" placeholder="인증번호를 입력해주세요">
          <button type="button" class="border_btn" onclick="clickRequestVerifyCode(event)">인증번호 받기</button>
        </div>
        <button type="button" id="verify_btn" class="border_btn" onclick="clickVerifyCode(event)" style="display:none;width:100%;margin-top:8px;">인증 확인</button>
        <div id="verified_badge" style="display:none;color:#1FAA9C;font-weight:600;margin:10px 0;"><i class="ph ph-check-circle"></i> 전화번호 인증 완료</div>

        <label for="" class="js-secret" style="display:none;">비밀번호</label>
        <div class="password_box js-secret" style="display:none;">
          <input type="password" placeholder="비밀번호를 입력해주세요" id="password" name="password">
          <button type="button" class="not_btn_box" onclick="clickToggleShowPassword(event)">
            <i class="ph ph-eye"></i>
            <i class="ph ph-eye-slash"></i>
          </button>
        </div>
        <div class="form_msg" id="form_msg"></div>
        <input type="submit" value="회원가입" class="js-secret" style="display:none;">
        <div id="recaptcha-container"></div>
        <div class="buttons another">
          <a href="/login">로그인으로 돌아가기</a>
        </div>
      </form>
    </main>
    <aside></aside>
  </div>
  <div class="toast_wrap" id="toast_wrap"></div>
  <script>window.FIREBASE_CONFIG = {{ firebase | tojson }}; window.OG_PHONE_MODE = 'register';</script>
  <script type="module" src="/static/js/firebase-phone.js"></script>
  <script src="/static/js/login.js"></script>
</body>
</html>