<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>OrderAndGo</title>
  <link rel="icon" type="image/x-icon" href="/static/images/common/logo.png">

  <!-- 시작 초기 css 설정 -->
  <link rel="stylesheet" href="/static/css/responsive.css">
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/animation.css">
  <!-- 아이콘 -->
  <script src="https://unpkg.com/@phosphor-icons/web"></script>

  <!-- 전용 css -->
  <link rel="stylesheet" href="/static/css/store.css">

  <!-- sortable.js -->
  <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
  
</head>
<body class="set_menu_product">
  <div id="container">
    <header>
      <!-- <h1>POS - Header</h1>-->
      <a class="back_btn" onclick="history.back();">
        <i class="ph-bold ph-caret-left"></i>
      </a>
      <div class="center">
        <a onclick="location.reload();">
          <h1>
            <img src="/static/images/common/logo-order&go-white.png" alt="">
          </h1>
        </a>
        <div class="header_info">
          <span class="cur_time">2023-05-01(월) 14:00</span>
          <span class="store_state" data-state="open">영업중</span>
        </div>
      </div>
    </header>
    <section>
      <ul>
        <li>
          <h2>메인 카테고리</h2>
          <div class="dropdown-box seletebox_main_category"></div>
        </li>
        <li>
          <h2>서브 카테고리</h2>
          <div class="dropdown-box seletebox_sub_category"></div>
        </li>
        <li class="right">
          <div>
            <h2>조회 구분</h2>
            <div class="dropdown-box seletebox_menu">
              <button class="input_box btn-dropdown" data-id="0" data-name="전체" onclick="clickDropDownBtn(event)">
                <span>전체</span>
                <i class="ph ph-caret-down"></i>
              </button>
              <ul class="dropdown-list">
                <li onclick="clickCategory(event)" data-id="0" data-name="전체">전체</li>
                <li onclick="clickCategory(event)" data-id="1" data-name="메뉴명">메뉴명</li>
              </ul>
            </div>
            <input class="search_box input_box">
          </div>
          <button class="submit_btn" onclick="clickSearchMenuData(event)">조회</button>
        </li>
      </ul>
    </section>
    <main>
      <article>
        <div class="article_top">
          <div class="buttons">
            <button onclick="clickAllSeleteBtn(event)"><span>전체</span></button>
            <button onclick="clickAllCnacelSeleteBtn(event)"><span>전체 취소</span></button>
          </div>
          <div class="buttons">
            <button class="delete_btn" onclick="clickDeleteMenu(event)"><span>삭제</span></button>
            <button class="add_btn" onclick="clickAddMenuBtn(event)"><span>추가</span></button>
          </div>
        </div>
        <div class="article_bottom scrollbar_hidden">
          <ul class="scrollbar_hidden">
            <li class="table_header">
              <div><label class="custom-checkbox"><input type="checkbox" onclick="clickAllCheckBox(event)"><span class="checkmark"></span></label></div>
              <div>메인카테고리</div>
              <div>서브카테고리</div>
              <div>메뉴명</div>
              <div>옵션</div>
              <div>가격</div>
            </li>
            <li>
              <div><label class="custom-checkbox"><input type="checkbox"><span class="checkmark"></span></label></div>
              <div>안주</div>
              <div>탕류</div>
              <div>메뉴명</div>
              <div>옵션</div>
              <div>18,000</div>
            </li>
            <li>
              <div><label class="custom-checkbox"><input type="checkbox"><span class="checkmark"></span></label></div>
              <div>안주</div>
              <div>탕류</div>
              <div>메뉴명</div>
              <div>옵션</div>
              <div>18,000</div>
            </li>
            <li>
              <div><label class="custom-checkbox"><input type="checkbox"><span class="checkmark"></span></label></div>
              <div>안주</div>
              <div>탕류</div>
              <div>메뉴명</div>
              <div>옵션</div>
              <div>18,000</div>
            </li>
            <li>
              <div><label class="custom-checkbox"><input type="checkbox"><span class="checkmark"></span></label></div>
              <div>안주</div>
              <div>탕류</div>
              <div>메뉴명</div>
              <div>옵션</div>
              <div>18,000</div>
            </li>
            <li>
              <div><label class="custom-checkbox"><input type="checkbox"><span class="checkmark"></span></label></div>
              <div>안주</div>
              <div>탕류</div>
              <div>메뉴명</div>
              <div>옵션</div>
              <div>18,000</div>
            </li>
            <li>
              <div><label class="custom-checkbox"><input type="checkbox"><span class="checkmark"></span></label></div>
              <div>안주</div>
              <div>탕류</div>
              <div>메뉴명</div>
              <div>옵션</div>
              <div>18,000</div>
            </li>
            <li>
              <div><label class="custom-checkbox"><input type="checkbox"><span class="checkmark"></span></label></div>
              <div>안주</div>
              <div>탕류</div>
              <div>메뉴명</div>
              <div>옵션</div>
              <div>18,000</div>
            </li>
            <li>
              <div><label class="custom-checkbox"><input type="checkbox"><span class="checkmark"></span></label></div>
              <div>안주</div>
              <div>탕류</div>
              <div>메뉴명</div>
              <div>옵션</div>
              <div>18,000</div>
            </li>
            <li>
              <div><label class="custom-checkbox"><input type="checkbox"><span class="checkmark"></span></label></div>
              <div>안주</div>
              <div>탕류</div>
              <div>메뉴명</div>
              <div>옵션</div>
              <div>18,000</div>
            </li>
            <li>
              <div><label class="custom-checkbox"><input type="checkbox"><span class="checkmark"></span></label></div>
              <div>안주</div>
              <div>탕류</div>
              <div>메뉴명</div>
              <div>옵션</div>
              <div>18,000</div>
            </li>
            <li>
              <div><label class="custom-checkbox"><input type="checkbox"><span class="checkmark"></span></label></div>
              <div>안주</div>
              <div>탕류</div>
              <div>메뉴명</div>
              <div>옵션</div>
              <div>18,000</div>
            </li>
            <li>
              <div><label class="custom-checkbox"><input type="checkbox"><span class="checkmark"></span></label></div>
              <div>안주</div>
              <div>탕류</div>
              <div>메뉴명</div>
              <div>옵션</div>
              <div>18,000</div>
            </li>
            <li>
              <div><label class="custom-checkbox"><input type="checkbox"><span class="checkmark"></span></label></div>
              <div>안주</div>
              <div>탕류</div>
              <div>메뉴명</div>
              <div>옵션</div>
              <div>18,000</div>
            </li>
            <li>
              <div><label class="custom-checkbox"><input type="checkbox"><span class="checkmark"></span></label></div>
              <div>안주</div>
              <div>탕류</div>
              <div>메뉴명</div>
              <div>옵션</div>
              <div>18,000</div>
            </li>
            <li>
              <div><label class="custom-checkbox"><input type="checkbox"><span class="checkmark"></span></label></div>
              <div>안주</div>
              <div>탕류</div>
              <div>메뉴명</div>
              <div>옵션</div>
              <div>18,000</div>
            </li>
            <li>
              <div><label class="custom-checkbox"><input type="checkbox"><span class="checkmark"></span></label></div>
              <div>안주</div>
              <div>탕류</div>
              <div>메뉴명</div>
              <div>옵션</div>
              <div>18,000</div>
            </li>
            <li>
              <div><label class="custom-checkbox"><input type="checkbox"><span class="checkmark"></span></label></div>
              <div>안주</div>
              <div>탕류</div>
              <div>메뉴명</div>
              <div>옵션</div>
              <div>18,000</div>
            </li>
            <li>
              <div><label class="custom-checkbox"><input type="checkbox"><span class="checkmark"></span></label></div>
              <div>안주</div>
              <div>탕류</div>
              <div>메뉴명</div>
              <div>옵션</div>
              <div>18,000</div>
            </li>
          </ul>
        </div>

      </article>
      <aside>
        <button class="responsive_btn" onclick="clickResponsiveBtn(event)">
          <i class="ph ph-caret-left"></i>
          <i class="ph ph-caret-right"></i>
        </button>
        <div class="top scrollbar_hidden">
          <div class="main_img" data-index="">
            <label for="main_menu_img"><i class="ph ph-plus"></i></label>
            <input id="main_menu_img" hidden multiple  type="file" onchange="multiPreviewImage(event)">
            <img src="" alt="">
            <button class="delete_btn" onclick="clickDeleteImg(event)">
              <i class="ph ph-trash"></i>
            </button>
          </div>
          <div class="imgs">
            <div class="img_box" data-index="1">
              <label for="menu_img_1"><i class="ph ph-plus"></i></label>
              <input id="menu_img_1" hidden type="file" onchange="previewImage(event)">
              <img src="" alt="" onclick="clickMenuImg(event)">
            </div>
            <div class="img_box" data-index="2">
              <label for="menu_img_2"><i class="ph ph-plus"></i></label>
              <input id="menu_img_2" hidden type="file" onchange="previewImage(event)">
              <img src="" alt="" onclick="clickMenuImg(event)">
            </div>
            <div class="img_box" data-index="3">
              <label for="menu_img_3"><i class="ph ph-plus"></i></label>
              <input id="menu_img_3" hidden type="file" onchange="previewImage(event)">
              <img src="" alt="" onclick="clickMenuImg(event)">
            </div>
            <div class="img_box" data-index="4">
              <label for="menu_img_4"><i class="ph ph-plus"></i></label>
              <input id="menu_img_4" hidden type="file" onchange="previewImage(event)">
              <img src="" alt="" onclick="clickMenuImg(event)">
            </div>
          </div>
        </div>
        <div class="middle scrollbar_hidden">
          <div class="left">
            <label for="">
              <span>메뉴명</span>
              <div class="is_soldout">
                <span>sold out</span>
                <button onclick="toggleSoldOut(event)" data-soldout="false">
                  <div class="ball"></div>
                </button>
                <input type="checkbox">
              </div>
              <input type="text" placeholder="메뉴명">
            </label>
            <label for="">
              <span>판매가</span>
              <input type="text" placeholder="판매가">
            </label>
            <label for="">
              <span>메뉴 설명</span>
              <textarea placeholder="메뉴 설명"></textarea>
            </label>
          </div>
          <div class="right">
            <label for="">
              <span>카테고리</span>
              <div class="flex_box">
                <div class="dropdown-box seletebox_menu main_category_box">
                  <button class="input_box btn-dropdown" data-id="0" data-name="전체" onclick="clickDropDownBtn(event)">
                    <span>메인카테고리</span>
                    <i class="ph ph-caret-down"></i>
                  </button>
                  <ul class="dropdown-list">
                    <li onclick="clickSetMenuCategory(event)" data-category="main" data-id="0" data-name="전체">전체</li>
                    <li onclick="clickSetMenuCategory(event)" data-category="main" data-id="1" data-name="메뉴명">메뉴명</li>
                  </ul>
                </div>
                <div class="dropdown-box seletebox_menu sub_category_box">
                  <button class="input_box btn-dropdown" data-id="0" data-name="전체" onclick="clickDropDownBtn(event)">
                    <span>서브카테고리</span>
                    <i class="ph ph-caret-down"></i>
                  </button>
                  <ul class="dropdown-list">
                    <li onclick="clickSetMenuCategory(event)" data-category="sub" data-id="0" data-name="전체">전체</li>
                    <li onclick="clickSetMenuCategory(event)" data-category="sub" data-id="1" data-name="메뉴명">메뉴명</li>
                  </ul>
                </div>  
              </div>
            </label>
            <label for="" class="set_menu_options">
              <span>옵션</span>
              <div class="menu_options">
                <div class="flex_box">
                  <input type="text" placeholder="옵션명">
                  <input type="text" placeholder="가격">
                  <button class="delete_btn" onclick="clickDeleteOptionBtn(event)">
                    <i class="ph ph-trash"></i>
                  </button>
                </div>
              </div>
              <button class="add_option_btn" onclick="clickAddOptionBtn(event)">
                <i class="ph ph-plus"></i>
                <span>옵션 추가</span>
              </button>
            </label>
          </div>
        </div>
        <div class="bottom">
          <button class="delete" onclick="clickDeleteMenuData(event)">삭제</button>
          <button class="save" onclick="clickSaveMenuData(event)">저장</button>
        </div>
      </aside>
    </main>
  </div>
  
  <!-- 공통 스크립트 -->
  <script src="/static/js/common.js"></script>
  <!-- 전용 스크립트 -->
  <script src="/static/js/setMenuProduct.js"></script>
</body>
</html>