<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>orderandgo</title>
  <link rel="icon" type="image/x-icon" href="/static/images/common/logo.png">

    <!-- 시작 초기 css 설정 -->
    <link rel="stylesheet" href="/static/css/responsive.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/animation.css">
    <!-- 아이콘 -->
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
  
    <!-- 전용 css -->
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
  <main>
    <h1>
      <a href="">
        <img src="/static/images/common/logo-order&go-color.png" alt="">
      </a>
    </h1>
    <form>

      <label for="store_num">매장 선택</label>
      <select required>
        <option value="" disabled selected>매장을 선택해주세요</option>
      </select>
      <label for="password">비밀번호</label>
      <input type="password" value="test!@34" id="password" name="password" placeholder="test!@34" required>
      <!-- <div class="input_save_id">
        <input type="checkbox" hidden id="save_id">
        <label for="save_id">
          <i class="ph ph-check-circle"></i>
          <span>아이디 저장</span>
        </label>
      </div> -->
      <input type="submit" value="로그인">
      <div class="buttons">
        <a href="/store/create">매장 생성</a>
      </div>
    </form>
  </main>
</body>
</html>