<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>orderandgo</title>
  <link rel="icon" type="image/x-icon" href="/static/images/common/logo.png">

  <!-- 시작 초기 css 설정 -->
  <link rel="stylesheet" href="/static/css/responsive.css">
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/animation.css">
  <!-- 아이콘 -->
  <script src="https://unpkg.com/@phosphor-icons/web"></script>

  <!-- 전용 css -->
  <link rel="stylesheet" href="/static/css/table_order.css">

  <!-- socket.io -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

</head>
<body class="table_order">
  <div id="container">
    <header>
      <!-- <h1>POS - Header</h1>-->
      <a class="back_btn" onclick="window.location.href='/'">
        <i class="ph-bold ph-caret-left"></i>
      </a>
      <div class="center">
        <a onclick="location.reload();">
          <h1>
            <img src="/static/images/common/logo-order&go-white.png" alt="">
          </h1>
        </a>
        <div class="header_info">
          <span class="cur_time">2023-05-01(월) 14:00</span>
          <span class="store_state" data-state="open">영업중</span>
        </div>
      </div>
    </header>
    <main>
      <section>
        <nav>
          <ul>
            <li data-id="1" data-state="active">
              <button onclick="changeTableCategory(event,0)">매장</button>
            </li>
          </ul>
          <button class="btn_set" onclick="clickSetTableCategoryBtn(event)">
            <i class="ph ph-gear-six"></i>
          </button>
        </nav>
        <article>
          <div class="tables items" data-page="0"></div>
          <button class="change_page_btn prev_page_btn" onclick="clickChangeTablePosition(event, 'prev')">
            <i class="ph ph-caret-left"></i>
          </button>
          <button class="change_page_btn next_page_btn" onclick="clickChangeTablePosition(event, 'next')">
            <i class="ph ph-caret-right"></i>
          </button>
        </article>
      </section>
    </main>
  </div>
  <script src="/static/js/common.js"></script>
  <script src="/static/js/tableOrder.js"></script>
</body>
</html>